<!-- <h2>Мои петиции</h2>
<table class="table">
<thead>
  <tr>
    <th>Название</th>
    <th></th>
  </tr>
</thead>
  <% @petitions.each do |petition| %>
  <tr>
    <td><%= link_to petition.title, petition_path(petition) %></td>    
  </tr>
  <% end %>
</table> -->