<h1>Онлайн петиции нашего района</h1>
<div>Зарегестрироваться | Войти</div>
<div>
<p> <%= link_to 'Создать петицию', new_petition_path%></p>
<p> <%= link_to 'Все петиции', controller: 'petitions' %></p>
</div>

<table>
<% @petitions.each do |petition| %>
    <tr>
      <td><%= link_to petition.title, petition_path(petition) %></td>
    </tr>
  <% end %>
</table>