<!DOCTYPE html>
<html>
<head>
  <title>Онлайн петиции нашего района</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p>Unknown Company 2016</p>
</body>
</html>
